/*---------------------GLOBAL-----------------------*/
body {
    font-family: 'Cabin', sans-serif;
}

.input-error{
    border: 2px solid #ff0000
}

/*--------------------- FIN GLOBAL-----------------------*/

/*---------------------VARIABLES-----------------------*/

/*COLORES DE FONDO*/
.tan {
    background: #dec3af;
}

.beige {
    background: #efe4d9;
}

.sienna {
    background: #71323d;
}

.rosy-brown {
    background: #a5796d;
}

.dim-gray {
    background: #585551;
}

.blanco {
    background: #fff;
}

/*COLOR DE LA LETRA*/

.tan-letra {
    color: #dec3af;
}

.beige-letra {
    color: #efe4d9;
}

.sienna-letra {
    color: #71323d;
}

.rosy-brown-letra {
    color: #a5796d;
}

.dim-gray-letra {
    color: #585551;
}

.blanco-letra {
    color: #fff;
}

/*---------------------FIN VARIABLES-----------------------*/

/*---------------------CSS INICIO SESION-------------------*/


/*---------------------FIN CSS INICIO SESION-------------------*/

/*---------------------CSS REGISTRAR TODOS LOS USUARIOS-------------------*/


.ocultar {
    display: none;
}

#usuarios {
    background-color: #ffffff;
    height: 475px;
}

#frm-registro {
    width: 100%;
    padding: 30px 50px 0px 50px;
}

#contenedor-registro {
    background-color: #EFE4D9;
    box-sizing: border-box;
    border: 1px solid #71323D;
    border-radius: 15px; 
    width: 350px;
    height: 525px;
}

.encabezado h3 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 65px;
}
.w3-col {
    margin-top: 10px;
    margin-left: 70px;
}

.borde {
    border: solid;
    border: 1px solid #585551; 
    border-radius: 5px;
    width: 60%;
    height: 30px;
}
select {
    color: #818181;
}

#btnRegistrar {
    background-color: #ffffff;
    border: solid;
    border: 2px solid #71323D; 
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 20px;
}

.btn1 {
    margin-left: 240px;
}

#contenedor-registroAdmin {
    
    background-color: #EFE4D9;
    box-sizing: border-box;
    border: 1px solid #71323D;
    border-radius: 15px; 
    width: 650px;
    height: 840px;
}

#contenedor-registroAdmin .borde {
    width: 40%;
}

textarea {
    width: 70%;
    height: 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid#585551;
    border-radius: 5px;
    background-color: #eceaea;
    font-size: 16px;
    resize: none;
}
/*---------------------FIN CSS REGISTRAR TODOS LOS USUARIOS-------------------*/

/*---------------------CSS LISTAR LOS USUARIOS-------------------*/


/*---------------------FIN CSS LISTAR LOS USUARIOS-------------------*/


